/**
* @name style.css
* @file Add a small description for this file.
* @author <Add Your Name Here> <addyouremail@mail.com>
* @version 1.0.0
*/

::-webkit-scrollbar {
    display: none;
}


/* ff6913af; fue el primary-color inicial*/

:root {
    --primary-color: #EEB73A;
    --secondary-color: #f50057;
    --main-background-color: rgb( 252, 252, 252);
    --nav-bar-height: 60px;
    --navBarColor: #60E1F0;
    --addNewCommentBtn: #FA8764;
    --color-complementario1: #1543ab;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--primary-color)
}

h2 {
    color: var(--secondary-color)
}

button {
    min-width: 60px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    outline: none;
}

button:focus {
    outline: none;
}

p {
    user-select: none;
}

div {
    user-select: none;
}

.hide {
    display: none !important;
}

.owner {
    background-color: var(--color-complementario1) !important;
}