    .userComponent {
        background-color: #ECEFF1;
        display: flex;
        width: calc(100% - 10px);
        margin: 5px 5px 0px 5px;
        height: auto;
        border-radius: 15px;
    }
    
    .userComponent_col1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: auto;
    }
    
    .userComponent_col2 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 65%;
        padding: 10px;
    }
    
    .userComponent_avatar {
        width: 90%;
        height: calc(100%-0px);
        border: 1px solid var(--color-complementario1);
        border-radius: 50%;
    }
    
    .userComponent_name {
        font-size: 20px;
        font-weight: bold;
    }
    
    .userComponent_username {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 30px;
    }
    
    .userComponent_email {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 30px;
    }
    
    .userComponent_phone {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 30px;
    }
    
    .userComponent_website {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 30px;
    }